@import url('https://fonts.googleapis.com/css2?family=Single+Day&family=Sora:wght@100..800&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color: #18929d;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 35px;
    font-weight: 600;
}


nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px;

}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 7px;
    transition: 0.3s;
    text-shadow: #000 4px 5px 4px
}
nav li a:hover{
    background-color: antiquewhite;
    color: black;

}
.banner{
    height: 100vh;
    
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.281)rgba(0,0,0,0.308));
    background-image: url('uilia2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.texto .titulo{
    color:white;
    font-size: 60px;
    font-weight: 600;
    text-shadow: #000 4px 5px 4px
}
.texto .sub_titulo{
    margin-top: 50px;
    color:white;
    font-size: 35px;
    font-weight: 600;
    text-shadow: #000 4px 5px 4px

}
.texto  p{
    margin-top: 30px;
    color:white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: #000 4px 5px 4px

}
.texto .botoes{
    margin-top: 40px;
}
.texto .botoes  button{
    height: 55px ;
    width: 170px;
    border-radius: 8px;
    border: 0;
    margin: 0 10px;  
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0,3s;
}

.texto .botoes button.overlay{
    width: 20pc;
    margin-top: 25px;
    color: white;
    color: white;
    background-color: red;
    animation: vibrar 0.5s ease-in-out infinite both;
}
@keyframes vibrar{
    0%{
        transform: scale(1);
    
    }
    50%{
       transform: scale(1.1) rotate(-3deg);

    
}
100%{
    transform: scale(1);


}
}
footer ul{
    
    display: flex;
    align-items: center;
    list-style: none;
    padding: 15px;
    background-color: #18929d;
    
 
    justify-content: space-between;
   
}



footer li{
    margin-left: 7px;
}
footer li a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 7px;
    transition: 0.3s;
}
footer li a:hover{
    background-color: antiquewhite;
    color: black;

}
footer  ul .logo a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 35px;
    font-weight: 600;
}

.menu-icon{
    display: none;
    color: white;
    cursor: pointer;

}
.menu-mobile{
    background-color: #18929d;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    bottom:0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    transition: 0.4s;

}
.menu-mobile.ativo{
    left: 0;
}
.menu-mobile .icon-close{
    position: absolute;
    top: 40px;
    right: 40px;
    color: white;
    cursor: pointer;
    font-size: 35px;
}
@media (max-width: 740px){
    .menu-desktop{
        display:  none;

    }
    .menu-icon{
        display: block;
        font-size: 35px;
    }
    .texto .botoes button.overlay{
        width: 20pc;
        margin-top: 35px;
        color: white;
        color: white;
        background-color: red;
        animation: vibrar 0.5s ease-in-out infinite both;
        font-size: 15px;
    }
    .texto .sub_titulo{
        margin-top: 50px;
        color:white;
        font-size: 25px;
        font-weight: 600;
        text-shadow: #000 4px 5px 4px;
    
    }
    .texto  p{
        margin: 15px;
        color: white;
        font-size: 23px;
        font-weight: 450;
        border-radius: 5px;
        text-shadow: #000 4px 5px 4px;

    }
    .texto .titulo{
        color:white;
        font-size: 40px;
        font-weight: 700;
        text-shadow: #000 4px 5px 4px;
    }
   .menu-mobile li{
    margin: 20px 0;
    
   }
   .menu-mobile li a{
    font-size: 25px;
    text-shadow: #000 4px 5px 4px
   }



    
}


